[user]
	name = tkcizumi
	email = tkc.izumi@gmail.com
[pull]
	rebase = true
[merge]
	ff = false
	tool = opendiff
[core]
	excludesfile = /Users/tkcizumi/.gitignore_global
[alias]
	co = commit
	st = status
	ch = checkout
	br = branch
[diff]
	tool = opendiff
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/tkcizumi/.stCommitMsg
